In [ ]:
Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you
might choose one over the other.

In [ ]:
ordinal encoding : this encoding is used when ther is natural ordering between the categories for example
grade A ,B ,C etc. 

label encoding : label encoding used when there is no need to set natural ranking between categories
example : let us consider we are labeling the city names then there is no ranking between the names of the cities
so in this case we can label encoding

In [ ]:
Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in
a machine learning project.

In [ ]:
target guided encoding is used when one category has diffrent values and we have to assign a specific label
the we go for mean mode and median values to assign a label

example : let us consider 4 students appeared in a exam every month and we need to assign each student a 
label then we can use mean of marks they got in the exam to label.

In [34]:
import pandas as pd
import numpy as np
students = ["amol","balu","mahesh","akash"]
df = pd.DataFrame({'jan':[80,85,90,50],'feb':[70,80,90,90],
              'mar':[50,80,60,82],'apr':[80,90,60,50]},index = students)

In [35]:
df

        jan  feb  mar  apr
amol     80   70   50   80
balu     85   80   80   90
mahesh   90   90   60   60
akash    50   90   82   50

In [ ]:
here we can use the mean of the marks to label

In [ ]:
Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

In [ ]:
Covariance is a measure of the relationship between two random variables and to what extent,
they change together. Or we can say, in other words, it defines the changes between the two variables, 
such that change in one variable is equal to change in another variable.

A positive covariance means asset prices are moving in the same general direction. 
A negative covariance means asset prices are moving in opposite directions.
              _    _
cov(x,y)= Î£(x-x)(x-x)

In [ ]:
Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium,
large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library.
Show your code and explain the output.

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.DataFrame({'Color': ['red', 'green', 'blue'], 'Size': ['small', 'medium',
'large'], 'Material': ['wood', 'metal', 'plastic']})

In [4]:
df

   Color    Size Material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [5]:
encoder = LabelEncoder()

In [16]:
df['encoded_Color'] = encoder.fit_transform(df['Color'])
df['encoded_Size'] = encoder.fit_transform(df['Size'])
df['encoded_Material'] = encoder.fit_transform(df['Material'])
df

,Color,Size,Material,encoded_color,encoded_Color,encoded_Size,encoded_Material
0,2,2,2,2,2,2,2
1,1,1,0,1,1,1,0
2,0,0,1,0,0,0,1

In [ ]:
in color column we get 2 for red 1 for green and so on.......

In [ ]:
Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education
level. Interpret the results.

In [22]:
df = pd.DataFrame({"age" : [20,30,40],
              'income_k' : [40,80,90],
              'education_level':['high school','graduation','phd']
              
})
df.corr()

/tmp/ipykernel_70/3764278957.py:6: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

               age  income_k
age       1.000000  0.944911
income_k  0.944911  1.000000

In [ ]:
in above result we get all positive values so there is directly proportional relation is seen

In [ ]:
Q6. You are working on a machine learning project with a dataset containing several categorical
variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD),
and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for
each variable, and why?

In [ ]:
Gender:
Since there are only two categories, Male and Female, we can use binary encoding or label encoding.
Both of these methods will assign 0 or 1 to each category. However, binary encoding will use two columns 
to represent the two categories, while label encoding will use a single column.

Education Level:
Since there is an inherent ordering to the education levels (High School < Bachelor's < Master's < PhD),
we can use ordinal encoding. This method will assign a numerical value to each category based on its position 
in the ordering. For example, we can assign 1 to High School, 2 to Bachelor's, 3 to Master's, and 4 to PhD.

Employment Status:
Since there is no inherent ordering to the employment status categories, we can use one-hot encoding. 
This method will create a separate column for each category and assign a value of 1 or 0 to indicate 
whether that category applies to a particular data point. For example, a data point that is Full-Time 
employed would have a value of 1 in the Full-Time column and 0 in the Part-Time and Unemployed columns.

In [ ]:
Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two
categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/
East/West). Calculate the covariance between each pair of variables and interpret the results.

In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({"Temperature":[20,30,40,50,60],"Humidity":[0.7,0.5,0.4,0.3,0.1],
              "Weather Condition" :['rainy','cloudy','cloudy','sunny','sunny'],
              "Wind Direction" :['North','South','North','South','north']
})

In [6]:
df.cov()

/tmp/ipykernel_70/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

             Temperature  Humidity
Temperature        250.0     -3.50
Humidity            -3.5      0.05

In [ ]:
we have negative coe so we can conclude that relation is inverse