In [ ]:
Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as sns

In [3]:
df = pd.DataFrame({'time_hours':[1,2,3,2,1,4,5,6,2,1,5,2,1,5,2,5,6],
              "marks" :         [50,60,70,50,60,90,80,95,68,72,49,53,54,86,96,98,80]})

In [4]:
df.corr()

            time_hours    marks
time_hours     1.00000  0.57248
marks          0.57248  1.00000

In [5]:
df.corr(method='spearman')

            time_hours     marks
time_hours    1.000000  0.496364
marks         0.496364  1.000000

In [ ]:
here we get the positive coefficient so we can covlude that study time and marks in the exam gave 
positive linear effect on each other

In [ ]:
Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

In [10]:
sleep = np.random.randint(6,10,10)
scale = np.random.randint(1,10,10)

In [14]:
df1 = pd.DataFrame({'sleep' : np.random.randint(6,10,10),
'scale' : np.random.randint(1,10,10)

})

In [15]:
df1.corr(method = "spearman")

          sleep     scale
sleep  1.000000  0.020108
scale  0.020108  1.000000

In [ ]:
we get the positive coefficient hence sleep time and job satisfaction scale have
lighter positive relation

In [ ]:
Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

In [17]:
exercise = np.random.randint(7,25,50)
BMI = np.random.randint(16,35,50)

In [21]:
df2 = pd.DataFrame({'exercise': np.random.randint(7,25,50),
'BMI' : np.random.randint(16,35,50)
})

In [22]:
df2.corr()

          exercise       BMI
exercise  1.000000 -0.060466
BMI      -0.060466  1.000000

In [23]:
df2.corr(method='spearman')

          exercise       BMI
exercise  1.000000 -0.080245
BMI      -0.080245  1.000000

In [ ]:
the conclusion from both the results are same that we get slightly negative linear relationship between
exercise time and bmi perhaps there are more factors that affects the results

In [ ]:
Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

In [25]:
df3= pd.DataFrame({'tv_time': np.random.randint(1,5,50),
'level_acivity' : np.random.randint(1,10,50)
})

In [26]:
df3.corr()

                tv_time  level_acivity
tv_time        1.000000      -0.066332
level_acivity -0.066332       1.000000

In [ ]:
so here are the result we conclude that more the time they spend on television the less the level of physical
acivity among them

In [ ]:
Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:

        Age(Years)            Soft drink Preference

          25                          Coke
          42                          Pepsi
          37                          Mountain dew
          19                          Coke
          31                          Pepsi
          28                          Coke

In [51]:
df4 = pd.DataFrame({'age_yrs':[25,42,37,19,31,28],
  'Soft drink Preference':['coke','pepsi','Mountain dew','coke','pepsi','coke']
           })
df4

   age_yrs Soft drink Preference
0       25                  coke
1       42                 pepsi
2       37          Mountain dew
3       19                  coke
4       31                 pepsi
5       28                  coke

In [ ]:
It seems that the survey results only include a small sample of six individuals,
so it may not be representative of the larger population. However, based on this sample,
it appears that the preference for a particular brand of soft drink is not strongly related to age.
Among the six individuals surveyed, there were two who preferred Coke, two who preferred Pepsi,
and one each who preferred Mountain Dew and Sprite. The ages of these individuals ranged from 19 to 42 years,
but there does not appear to be any clear pattern or trend in terms of the relationship between age and 
soft drink preference. Therefore, it would be difficult to draw any strong conclusions about this relationship
based on this small sample size. To get a more accurate understanding of the relationship between age and soft
drink preference, a larger and more diverse sample would be needed.

In [ ]:
Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [38]:
df5 = pd.DataFrame({'number_calls': np.random.randint(100,200,30),
'sales' : np.random.randint(10,20,30)
})

In [39]:
df5.corr()

              number_calls     sales
number_calls      1.000000  0.286921
sales             0.286921  1.000000

In [ ]:
as we got positive correlation hence we conclude that as number of calls increses number of 
sales also increase