In [ ]:
Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

In [ ]:
Q1. Write a code to print the data present in the second row of the dataframe, df.

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df.iloc[2:3]

  course_name  duration
2    Big Data         6

In [ ]:
Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [ ]:
ans]in loc we have to the indexes which appear to us not to pandas but iloc it takes the integers which are set by default

In [ ]:
Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [10]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [13]:
new_df = df.reindex(index = [3,0,1,2])

In [14]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [15]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
there is different in the output :
explanation : the output is different because loc takes the index which are seen to naked eyes but iloc takes the index
which are set by default so when we give loc[2] it takes the fourth row and in case of iloc[2] it takes the third row

In [ ]:
Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [ ]:
Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [2]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [28]:
df1.mean()

column_1    0.516804
column_2    0.595592
column_3    0.575342
column_4    0.557878
column_5    0.495985
column_6    0.469733
dtype: float64

In [25]:
df1["column_2"].std()

0.2789446215207804

In [ ]:
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [29]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.575767  0.250564  0.430903  0.960844  0.521662  0.060345
2  0.296894  0.312672  0.906160  0.980330  0.236443  0.502814
3  0.551088  0.567563  0.176942  0.166723  0.222251  0.420081
4  0.683411  0.976326  0.729718  0.048390  0.680056  0.987191
5  0.403771  0.789514  0.316886  0.616087  0.741081  0.300122
6  0.589894  0.676912  0.891441  0.574894  0.574418  0.547847

In [33]:
df1.loc[2:2]=[0.683411	,0.976326,	0.729718,	0.048390,	0.680056,	0.987191]

In [49]:
df1.loc[2:2].mean(axis = 1)

2    0.684182
dtype: float64

In [ ]:
Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In [ ]:
ans]window function is used when we have to apply command in group like sum or mean 
1.aggregate
2.ranking
3.value

In [ ]:
Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [30]:
data = pd.date_range(start = "2023-03-10",end="2023-03-20")

In [31]:
date = pd.DataFrame({'date':data})

In [32]:
date["updated_dates"]=pd.to_datetime(date["date"])

In [38]:
date["month"]=date["updated_dates"].dt.month

In [39]:
date["day"]=date["updated_dates"].dt.day

In [40]:
date

         date updated_dates  month  day
0  2023-03-10    2023-03-10      3   10
1  2023-03-11    2023-03-11      3   11
2  2023-03-12    2023-03-12      3   12
3  2023-03-13    2023-03-13      3   13
4  2023-03-14    2023-03-14      3   14
5  2023-03-15    2023-03-15      3   15
6  2023-03-16    2023-03-16      3   16
7  2023-03-17    2023-03-17      3   17
8  2023-03-18    2023-03-18      3   18
9  2023-03-19    2023-03-19      3   19
10 2023-03-20    2023-03-20      3   20

In [ ]:
Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [7]:
input1 = input("enter date  YYYY-MM-DD")
input2 = input("enter date  YYYY-MM-DD")

td1 = pd.to_datetime(input1)
td2 = pd.to_datetime(input2)
print(td2-td1)

enter date  YYYY-MM-DD 2023-02-23
enter date  YYYY-MM-DD 2023-12-12

292 days 00:00:00

In [ ]:
Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
file_path = str(input("enter file path for eg name of file.csv"))
column_name = str(input("enter column name"))
category_order = input("enter order of category true or false")

file = pd.read_csv(file_path)
pd.Categorical(file[column_name])

In [ ]:
Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
file_path = str(input("enter file path for eg name of file.csv"))
file = pd.read_csv(file_path)
file.plot.bar(x="time",t="sales")

In [ ]:
Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [ ]:
file_path = str(input("enter file path for eg name of file.csv"))
file = pd.read_csv(file_path)
mean = file["test_score"].mean()
mode = file["test_score"].mode()
median = file["test_score"].median()
pd.DataFrame({"statistic_value":["mean","mode","median"],"value":[mean,mode,median]})