In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
ans] databases is set of information containes as a set or say collected at a point so that they are 
easily accesible or redable or we can easily update those data.

SQL : 1.sql databases are relational means we can find relation among themselves
      2.sql databases are found in  structured manner
      3.sql databases are table based
      4.operation in sql is better for row transaction
    
NoSQL : 1. they are nonrelational
        2. nosql databases are not arranged in structured manner
        3. nosql databses are key pair , graph etc
        4. operation is better for nonstructured like documents or jason

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
ans] DDL is a data defining language which is used to modify the structure of objects
     using some syntaxes
    
1.CREATE:this is used to create a database or objest followed by his name for example create a table named 
'timetable'

2.DROP:this is used to delete a complete object from a database for example in timetable database as we have 
created there is a column named 'break' and we want to delete that entire column then we can use drop

3.ALTER:this is used to change the structure of object
    
4.TRUNCATE:this is used to delete all the data in objects for ex.if we want to keep the column 
name as it is but we need to update data so insted of deleting each row we can go for truncate operation

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
ans]DML: dml is data manipulation language..

1.INSERT : It is used to insert data into a table.
2.UPDATE: It is used to update existing data within a table.
3.DELETE : It is used to delete records from a database table.

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
ans]DQL dql is data query language

1.SELECT: It is used to retrieve data from the database.

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
ans]primary key : it is a key which is used to ensure that data in the specific column is
unique

foreign key : it is a column that references a primary key or a column from another table

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()

cursor() : cursor is pointer which move around our database in case we need to insert a data
or update the data

execute() : execute is a function which requires to perform a operation like "create table"

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
1. FROM/JOIN: The FROM or JOIN clauses are executed first to determine the data of interest.
2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.
3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.
4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.
5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.
6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.
7. LIMIT/OFFSET: Finally, the LIMIT or OFFSET clauses are executed to keep or skip a specified number of rows.