In [ ]:
Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

In [ ]:
ans] mongodb is nosqltype which is uded to store library which stores the data in documents or jason file..

1.non relational databases is a data bases which does not contain rows and column
2.when we are in a situation where we have data in document form rather than in rows and columns then
we use mongodb

In [ ]:
Q2. State and Explain the features of MongoDB.

In [ ]:
1.proper indexing : mongodb offers a large set of indices hence searching and managing data is easy in this...

2.stability : when we deal a large data then we experience failure of server sometimes so mongodb replicates the data
and creates multiple servers so that server couldnt get crashed

3.sharding : the process of distributing large data into multiple small collection called sharding
which helps us to trace data

4.load balancing : as mpngodb is nosql so it provides horizontal scaling which helps to manage large data without
any problem

In [ ]:
Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [6]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 6.1 MB/s eta 0:00:00a 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 30.0 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://bhosalebg359:bhosalebg359@cluster0.xjzqycr.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [8]:
db

Database(MongoClient(host=['ac-yhhgpj2-shard-00-00.xjzqycr.mongodb.net:27017', 'ac-yhhgpj2-shard-00-02.xjzqycr.mongodb.net:27017', 'ac-yhhgpj2-shard-00-01.xjzqycr.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-l1lfwk-shard-0', tls=True), 'test')

In [9]:
client = pymongo.MongoClient("mongodb+srv://bhosalebg359:bhosalebg359@cluster0.xjzqycr.mongodb.net/?retryWrites=true&w=majority")

In [10]:
db = client["pwskills"]

In [13]:
data = {"name" : "balasaheb",
        "class" : "data science master" ,
        "time" : "flexi"
        "number" : "7058583978"
}

In [14]:
collection = db["my_record"]

In [15]:
collection.insert_one(data)

In [ ]:
Q4. Using the database and the collection created in question number 3, write a code to insert one record,
    and insert many records. Use the find() and find_one() methods to print the inserted record.

In [13]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://bhosalebg359:bhosalebg359@cluster0.xjzqycr.mongodb.net/?retryWrites=true&w=majority")
db = client.test

client = pymongo.MongoClient("mongodb+srv://bhosalebg359:bhosalebg359@cluster0.xjzqycr.mongodb.net/?retryWrites=true&w=majority")

db = client["pwskills"]

data = {"name" : "balasaheb",
        "class" : "data science master" ,
        "time" : "flexi",
        "number" : "7058583978"
}

collection = db["my_record"]
collection.insert_one(data)

In [14]:
data1 = [{"name" : "balasaheb"},
        {"class" : "data science master"} ,
        {"time" : "flexi"},
         {"number" : "7058583978"}]

In [15]:
collection.insert_many(data1)

In [16]:
for i in collection.find() :
    print(i)

{'_id': ObjectId('63ff30a096c0abe9bf487e36'), 'name': 'balasaheb', 'class': 'data science master', 'time': 'flexi'}
{'_id': ObjectId('63ff3201a9c616b87d77a994'), 'name': 'balasaheb', 'class': 'data science master', 'time': 'flexi', 'number': '7058583978'}
{'_id': ObjectId('63ff331c96c0abe9bf487e39'), 'name': 'balasaheb', 'class': 'data science master', 'time': 'flexi', 'number': '7058583978'}
{'_id': ObjectId('63ff335496c0abe9bf487e3a'), 'name': 'balasaheb'}
{'_id': ObjectId('63ff335496c0abe9bf487e3b'), 'class': 'data science master'}
{'_id': ObjectId('63ff335496c0abe9bf487e3c'), 'time': 'flexi'}
{'_id': ObjectId('63ff335496c0abe9bf487e3d'), 'number': '7058583978'}
{'_id': ObjectId('63ff80119681a97acfbe3054'), 'name': 'balasaheb', 'class': 'data science master', 'time': 'flexi', 'number': '7058583978'}
{'_id': ObjectId('63ff80139681a97acfbe3055'), 'name': 'balasaheb'}
{'_id': ObjectId('63ff80139681a97acfbe3056'), 'class': 'data science master'}
{'_id': ObjectId('63ff80139681a97acfbe3057'), 'time': 'flexi'}
{'_id': ObjectId('63ff80139681a97acfbe3058'), 'number': '7058583978'}

In [17]:
for i in collection.find_one({'name':'balasaheb'}) :
    print(i)

_id
name
class
time

In [ ]:
Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [11]:
data2 = [{"name":"balasaheb"},
         {"id":"101"},
         {"course":"data science"},
         {"sex":"male"},
         {"status fees":"paid"}
        ]

In [19]:
collection.insert_many(data2)

In [20]:
for i in collection.find() :
    print(i)

{'_id': ObjectId('63ff30a096c0abe9bf487e36'), 'name': 'balasaheb', 'class': 'data science master', 'time': 'flexi'}
{'_id': ObjectId('63ff3201a9c616b87d77a994'), 'name': 'balasaheb', 'class': 'data science master', 'time': 'flexi', 'number': '7058583978'}
{'_id': ObjectId('63ff331c96c0abe9bf487e39'), 'name': 'balasaheb', 'class': 'data science master', 'time': 'flexi', 'number': '7058583978'}
{'_id': ObjectId('63ff335496c0abe9bf487e3a'), 'name': 'balasaheb'}
{'_id': ObjectId('63ff335496c0abe9bf487e3b'), 'class': 'data science master'}
{'_id': ObjectId('63ff335496c0abe9bf487e3c'), 'time': 'flexi'}
{'_id': ObjectId('63ff335496c0abe9bf487e3d'), 'number': '7058583978'}
{'_id': ObjectId('63ff80119681a97acfbe3054'), 'name': 'balasaheb', 'class': 'data science master', 'time': 'flexi', 'number': '7058583978'}
{'_id': ObjectId('63ff80139681a97acfbe3055'), 'name': 'balasaheb'}
{'_id': ObjectId('63ff80139681a97acfbe3056'), 'class': 'data science master'}
{'_id': ObjectId('63ff80139681a97acfbe3057'), 'time': 'flexi'}
{'_id': ObjectId('63ff80139681a97acfbe3058'), 'number': '7058583978'}
{'_id': ObjectId('63ff80329681a97acfbe3059'), 'name': 'balasaheb'}
{'_id': ObjectId('63ff80329681a97acfbe305a'), 'id': '101'}
{'_id': ObjectId('63ff80329681a97acfbe305b'), 'course': 'data science'}
{'_id': ObjectId('63ff80329681a97acfbe305c'), 'sex': 'male'}
{'_id': ObjectId('63ff80329681a97acfbe305d'), 'status fees': 'paid'}

In [ ]:
Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [39]:
collection1 = db["record"]

In [40]:
data3 = [{"name":"balasaheb","no":'1'},
         {"name":"amol","id":"101","no":"1"},
         {"name":"sarthak","course":"data science","no":"1"},
         {"name":"rushi","sex":"male","no":"1"},
         {"name":"sachin","status fees":"paid","no":"1"}
        ]

In [43]:
collection1.insert_many(data3)

In [44]:
for i in collection1.find().sort("name",1) :
    print(i)

{'_id': ObjectId('63ff85c29681a97acfbe3064'), 'name': 'amol', 'id': '101', 'no': '1'}
{'_id': ObjectId('63ff85c29681a97acfbe3063'), 'name': 'balasaheb', 'no': '1'}
{'_id': ObjectId('63ff85c29681a97acfbe3066'), 'name': 'rushi', 'sex': 'male', 'no': '1'}
{'_id': ObjectId('63ff85c29681a97acfbe3067'), 'name': 'sachin', 'status fees': 'paid', 'no': '1'}
{'_id': ObjectId('63ff85c29681a97acfbe3065'), 'name': 'sarthak', 'course': 'data science', 'no': '1'}

In [ ]:
Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [ ]:
1.delete_one() : used to delete perticular database

2.delete_many() : used to delete morethan one databases

3.drop() : drop is used to delete databases at a perticular index